.body-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login {
    background-color: yellow;
}

.body-admin{
    height: 100vh;
    box-sizing: border-box;
}

.navbar-admin{
    background-color: yellow;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    width: 100%;
}

.menu-semuanya{
    display: flex;
    background-color: green;
}