.body {
    padding-top: 30px;
}

.body.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login {
    background-color: yellow;
    width: fit-content;
}

.navbar-admin {
    background-color: yellow;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    width: 100%;
}

.menu-semuanya {
    display: flex;
    justify-content: space-evenly;
}

.body.admin {
    height: 100vh;
    box-sizing: border-box;
}