html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* reset default margin/padding bawaan browser */
}

html {
    scroll-behavior: smooth;
    /* klo klik anchor link, transisinya smooth scrolling */
}

body {
    background: #111;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    /* biar footer bisa tetap berada di bawah */
}

/* header */
header {
    position: sticky;
    top: 0;
    z-index: 999;
    background: #111;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 18px 25px;
    box-shadow: 0 4px 15px rgba(0,0,0,.4);
}

.logo {
    font-size: 32px;
    font-weight: 600;
    margin-right: 30px;
    /* spasi antara logo dan menu */
}

/* nav */
nav {
    display: flex;
    gap: 18px;
     /* jarak antar menu */
}

nav a {
    font-size: 18px;
    text-decoration: none;
    color: white;
}

nav a.active {
    border-bottom: 2px solid #d1ff32;
}

/* container bagian kanan header */
.header-icons {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: auto;
    /* geser icon ke sisi kanan */
}

.icon-img {
    width: 28px;
    cursor: pointer;
    filter: brightness(1.2);
}

/*badge jumlah pesananan yg ada di cart*/
.cart-wrapper {
    position: relative;
}

.badge {
    background: #d1ff32;
    color: #111;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -8px;
    border: 2px solid #111;
    /* border agar terlihat jelas */
}

/*search*/
.search-area {
    display: flex;
}

.search {
    padding: 8px 15px;
    border-radius: 8px;
    border: none;
    background: #222;
    color: white;
    width: 150px;
}

.search::placeholder {
    color: #aaa;
}

/*halaman konten*/
.menu-section {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px; /*biar ada jarak dari futer*/
}

.menu-section h1 {
    font-size: 50px;
    margin-bottom: 5px;
}

.sub {
    font-size: 20px;
    font-weight: 600;
    color: #d1ff32;
    margin-bottom: 40px;
}

/*buat grid menu*/
.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    width: 85%;
    margin: auto;
    gap: 25px;
    /* repeat autofill, grid otomatis menyesuaikan */
}

/*card dikss*/
.card {
    background: #1a1a1a;
    padding: 18px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 15px #000;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}

.card h3 {
    font-size: 22px;
    margin: 10px 0;
}

.btn-order {
    background: #d1ff32;
    padding: 10px 18px;
    border-radius: 15px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

/*futer nyangg fix*/
.footer {
    margin-top: auto;
    background: #d1ff32;
    padding: 25px 0;
    text-align: center;
    color: #444;
    font-size: 14px;
    font-weight: 600;
}

/* biar responsive boyy*/
@media (max-width: 768px) {

    header {
        padding: 15px 15px;
    }

    .logo {
        font-size: 28px;
    }

    nav a {
        font-size: 16px;
    }

    .search {
        width: 120px;
    }

    .menu-section h1 {
        font-size: 38px;
    }

    .menu-container {
        width: 92%;
        gap: 18px;
    }
}

@media (max-width: 480px) {

    nav {
        gap: 10px;
    }

    .header-icons {
        gap: 10px;
    }

    .search {
        display: none;
    }

    .badge {
        top: -8px;
        right: -10px;
    }
}
