body {
    background: #111;
    color: white;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/*header sama kek cart*/
header {
    position: sticky;
    top: 0;
    z-index: 999;
    background: #111;
    display: flex;
    align-items: center;
    padding: 18px 25px;
    box-shadow: 0 4px 15px rgba(0,0,0,.4);
}

.logo {
    font-size: 32px;
    font-weight: 600;
    margin-right: 30px;
}

nav {
    display: flex;
    gap: 18px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav a.active {
    border-bottom: 2px solid #d1ff32;
}

.header-icons {
    margin-left: auto;
}

.icon-img {
    width: 30px;
    cursor: pointer;
    filter: brightness(1.5);
}

/* container utama orders */
.orders-section {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
    text-align: center;
}

.orders-section h1 {
    font-size: 40px;
    color: #d1ff32;
    margin-bottom: 25px;
}

.empty {
    font-size: 20px;
    color: #bbb;
}

/* container list order */
.orders-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-card {
    display: flex;
    background: #1a1a1a;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 20px #000;
}

.order-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.order-info {
    padding: 15px 20px;
    text-align: left;
    flex: 1;
}

.order-info h3 {
    font-size: 22px;
    margin: 0;
}

/* badge status */
.status {
    margin-top: 10px;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 10px;
    font-weight: 600;
}

/* warna status */
.status.pending {
    background: orange;
    color: white;
}

.status.paid {
    background: #03ff03;
    color: black;
}

.status.cancel {
    background: red;
}

/* futer syg */

.footer {
    background: #d1ff32;
    color: #444;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 20px 0;
    margin-top: 60px;
}
